 <div class="col mt-4">
     <h2>{{detail.Titre}}</h2>
     <hr>
     <!-- <video controls width="250"> -->
      <!-- <source src="https://www.youtube.com/embed/3FrW8vMl9Fg" type="video/embed"></video> -->
     <iframe width="700" height="315" src="https://www.youtube.com/embed/3FrW8vMl9Fg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   
     <p>{{detail.Description}}</p>
        <img src= "http://localhost:49367/{{detail.Img}}" class="card-img-top" alt="benjamin" height="300px" >
     <p>{{detail.Body}}</p>
     
 </div>
  