
<h1 class="mt-3">Details Journalites</h1>
<hr>
<div class=" d-flex justify-content-around mt-4 border rounded ">
    
    <img src= "http://localhost:49367/{{journalist.Image}}"  alt="benjamin" width="200px"   >
    <div class="mt-5">
      <h5>Nom :</h5>  <p>{{journalist.Nom}}</p>
      <h5>Prenom :</h5>  <p>{{journalist.Prenom}}</p>
      <h5>Email :</h5>  <p>{{journalist.Email}}</p>
      <h5>Tele :</h5>  <p>{{journalist.Tele}}</p>
     
        
    </div>

</div>
<h1 class="mt-3">Les articles</h1>
<hr>
<p>{{journalist.articles.Titre}}</p>

